<div class="container">
  <mat-card>
    <form #form="ngForm" [formGroup]="personalInfoForm" class="form" (ngSubmit)="formSubmit()">
      <div>Profile:</div>
      <div class="form-row">
        <mat-form-field appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="standard">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Weight</mat-label>
          <input matInput formControlName="weight"/>
        </mat-form-field>
      </div>


      <div *ngIf="friends.controls.length > 0" formArrayName="friends">Friends:
        <div *ngFor="let friend of friends.controls; let i=index">
          <div class="form-row" [formGroupName]="i">
            <mat-form-field appearance="standard">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-row">
        <button mat-raised-button type="button" (click)="addFriends(friends.controls[0])">Add More Friends</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="! personalInfoForm.valid">Submit</button>
      </div>
    </form>
  </mat-card>
  <br/>
  <mat-card>
    user list
    <mat-list>
      <mat-list-item *ngFor="let user of users$ | async">
<!--        <mat-icon matListIcon>folder</mat-icon>-->
        <h5>
          {{user.lastName}}, {{user.firstName}}
        </h5>

        <button mat-icon-button (click)="editUser(user)">
          <mat-icon>edit</mat-icon>
        </button>
        <button type="button" *ngIf="user.age"  mat-icon-button color="primary" [routerLink]="['/users', user.id]">
          <mat-icon>perm_identity</mat-icon>
        </button>

      </mat-list-item>
    </mat-list>
  </mat-card>

</div>
